.game-board {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../image/image.png");
  background-size: cover;
  background-position: center;
}

.group123-image,
.frame17-image,
.vector7-image {
  position: absolute;
}

.group123-image {
  cursor: pointer;
  bottom: 5%;
  left: 80%;
  width: 17%;
  z-index: 2;
}

.group123-image:hover {
  width: 18%;
}

.frame17-image {
  bottom: 15%;
  left: 7.5%;
  width: 80%;
  z-index: 0;
}
.vector7-image {
  bottom: 20%;
  left: 14%;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 80%;
  height: 50%;
  margin: auto;
  position: relative;
  top: 29%;
  z-index: 1;
}

.game-board .card {
  background-image: url("../image/DescribeGame/Rectangle-160.png");
  border-radius: 8px;
  width: 72%;
  height: 105%;
  z-index: 1;
  background-size: cover;
}

.card1Image,
.cardImage,
.Headinglifeskills1Image,
.Headinglifeskills2Image,
.oneImage {
  position: absolute;
}

.card1Image {
  top: 5%;
  left: 2%;
  width: 15%;
  z-index: 1;
}

.cardImage {
  top: 5%;
  left: 7%;
  width: 14%;
  z-index: 2;
}

.Headinglifeskills1Image {
  bottom: 8%;
  left: 6%;
  width: 10.5%;
}

.Headinglifeskills2Image {
  bottom: 0%;
  left: 6%;
  width: 10%;
}

.oneImage {
  bottom: 17%;
  left: 0%;
  width: 3%;
}

.card2Image,
.Headinglifeskills3Image,
.Headinglifeskills4Image,
.twoImage {
  position: absolute;
}

.card2Image {
  top: 5%;
  left: 38%;
  width: 15%;
}

.Headinglifeskills3Image {
  left: 40%;
  bottom: 10%;
  width: 10.5%;
}

.Headinglifeskills4Image {
  bottom: 0%;
  left: 40%;
  width: 11%;
}

.twoImage {
  bottom: 17%;
  left: 33.5%;
  width: 3%;
}

.group157Image,
.Headinglifeskills5Image,
.Headinglifeskills6Image,
.Headinglifeskills7Image,
.threeImage {
  position: absolute;
}

.group157Image {
  top: 5%;
  right: 8%;
  width: 25%;
}

.Headinglifeskills5Image {
  right: 15%;
  bottom: 21%;
  width: 12%;
}

.Headinglifeskills6Image {
  bottom: 12%;
  right: 13%;
  width: 15%;
}
.Headinglifeskills7Image {
  bottom: 2%;
  right: 14%;
  width: 13%;
}

.threeImage {
  bottom: 17%;
  right: 30.1%;
  width: 3%;
}
