.group123-image,
.group149-image,
.heading1lifeskills-image {
  position: absolute;
}

.group123-image {
  cursor: pointer;
  bottom: 5%;
  left: 80%;
  width: 17%;
}
.group123-image:hover {
  width: 18%;
}

.heading1lifeskills-image {
  top: 24%;
  right: 3%;
  width: 24%;
  transform: translateX(-50%);
}
