
.group123-image,
.group149-image,
.heading1lifeskills1-image,
.group155-image,
.group156-image {
  position: absolute;
}


.group123-image {
  cursor: pointer;
  bottom: 5%;
  left: 80%;
  width: 17%;
}
.group123-image:hover {
  width: 18%;
}

.group149-image {
  top: 15%;
  right: 12%;
  width: 30%;
}

.heading1lifeskills1-image {
  top: 22%;
  right: 9%;
  width: 20%;
  transform: translateX(-50%);
}
.group155-image {
  top: 24%;
  right: 12%;
  width: 5%;
  transform: translateX(-50%);
}
.group156-image {
  top: 4%;
  left: 8%;
  width: 10%;
  transform: translateX(-50%);
}
.group156-image:hover {
  width: 11%;
}
